*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

#page{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.content{
    max-width: 43.0rem;
    margin: 0 auto;
    padding: 3.0rem 2.0rem;
}

header{
    background-color: #065E7C;
}

header .content{
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 1.6rem 2.8rem;
    gap: 2.0rem;
}
header .avatar{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
}
header .input-wrapper{
    flex: 1;
}
header .input-wrapper input{
    height: 4.0rem;
    width: 100%;
    background-color: #387E96;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
}
header .input-wrapper input::placeholder{
    color: #FFFFFF;
}

#photo-capa img{
    max-width: 100%;
}

#article h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 160%;
}

#article #reaction button{
    background-image: url(./images/Button_like.png);
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
    border: none;
    color: #FFFFFF;
    width: 4.0rem;
    height: 4.0rem;
    display: inline-block;
    cursor: pointer;
}

#reaction{
    display: flex;
    gap: 1.5rem;
    margin: 0.8rem 0 3.0rem;
}

#article p{
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 160%;
    text-align: justify;
    margin-bottom: 3.4rem;
}

#sidebar{
    display: flex;
    flex-direction: column;
    gap: 3.0rem;
    max-width: 43.0rem;
    margin: 0 auto;
    padding: 3.0rem 2.0rem;
}

#sidebar h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 160%;
}

#sidebar .suggestion{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

#sidebar .suggestion p{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 1.4rem;
}
#sidebar .suggestion p strong{
    font-size: 1.8rem;
}

footer{
    margin-top: 4.0rem;
    background-color: #387E96;
}
footer .content{
    text-align: center;
    padding: 2.6rem;
    color: #FFFFFF;
}

@media (min-width: 800px) {
    #mid-page{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main{
        margin-top: 4.0rem;
    }

    .content{
        display: flex;
        max-width: max-content;
        padding: 0px 5.0rem;
        gap: 3.5rem;
    }

    #photo-capa img{
        max-width: 100%;
        padding: 0px 5.0rem;
    }


}